@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
  background: url('/resources/img/bg.png') repeat;
  color: #f0f0f0;
  margin: 0;
  font-family: 'Vollkorn';
  width: 100%;
  float: left;
}

a {
  text-decoration: none;
  color: red;
  font-weight: normal;
}

.form {
	max-width: 350px;
	background: #000;	
	opacity: 0.8;
	padding: 32px;
}

.form .form-heading {
	font-weight: 700;
	font-size: 32px;
}

.form .form-heading, .form .form-content, .form .form-content .form-element {
	width: 90%;
}

.form .form-heading, .form .form-content .form-input {
	border: none;
	height: 36px;
	padding: 3px 15px;
	margin-bottom: 16px;
	margin-top: 0;
	border-radius: 5px;
}

.form .form-content {
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
}

.form .form-content .form-textarea {
	border: none;
	height: 108px;
	padding: 3px 15px;
	margin-bottom: 16px;
	border-radius: 5px;
	padding-top: 10px;
}

.form .form-content .form-extra-links {
	width: 100%;
	margin-top: 25px;
}

.form-button-primary, .nav-button-primary, .form-button-secondary {
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 8px;
}

.form-button-secondary {
	background-color: #000;
	border: 1px solid #FF0000;
	margin-left: 15px;
}

.navbar {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 999;
}

.container-fluid {
	width: 100%;
	height: 72px;
	padding-top: 10px;
	background-color: #000;
	opacity: 0.8;
}

.container-fluid * {
	float: left;
}

.navbar-nav {
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.navbar-nav li a, .room-card a {
	display: inline-block;
	padding: 15px;
	color: #fff;
}

.room-card a {
	width: 80%;
	height: 100%;
}

.navbar-header a {
	display: inline-block;
	padding: 15px;
	font-weight: 700;
	font-size: 22px;
}

.container {
	width: 100%;
	margin-top: 100px;
}

.rooms {
	margin: 0 32px;
}

.room-card {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: black;
    float: left;
}

.room-card:hover {
	background-image: linear-gradient(black, black, black, black, black, black, red);
}

.form-login, .form-register, .form-new-room {
    position: absolute;
    left: 50%;
    top: 25%;
	margin-left: -175px;
}
.float-right {
	float: right;
}
.media {
	margin-left: 52px;
	margin-top: 20px;
	width: 93%;
	background: #000;
	opacity: 0.8;
	float: left;
}
.room-replies {
	width: 100%;
}
.media-left {
	width: 120px;
	padding: 30px;
	border-right: 1px solid #101010;
	float: left;
}
.media-heading {
	width: 100%;
	float: left;
    line-height: 3;
    background: #505050;
}
.media-body {
	width: 80%;
    padding-left: 25px;
	float: left;
	border-left: 1px solid #101010;
    margin-left: -1px;
}
.media-object {
	width: 120px;
	float: left;
}
.user-name {
    text-align: center;
    width: 100%;
    margin-top: 15px;
	float: left;
}
.post-reply {
	margin-left: 52px;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 93%;
	float: left;
}
.form-room-reply {
	max-width: 100%;
    padding-left: 10px;
}

.form-room-reply  textarea{
	height: 150px;
	width: 100%;
}
.posting-as {
	margin-bottom: 20px;
}
.highlight {
	color: #FF7777;
}
.error-para {
	margin-left: 40px;
	width: 100%;
}
.reply-media {
	margin-bottom: 32px;
}
.media-date {
	float: left;
	width: 100%;
	color: #505050;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 10px;
}