@import url('https://fonts.googleapis.com/css?family=Vollkorn');

body {
  background-color: #000;
  background: url('/resources/img/bg.png') repeat;
  color: #f0f0f0;
  margin: 0;
  font-family: 'Vollkorn';
  width: 100%;
  float: left;
}

a {
  text-decoration: none;
  color: red;
  font-weight: normal;
}

.form {
	max-width: 350px;
	background: #000;	
	opacity: 0.8;
	padding: 32px;
}

.form .form-heading {
	font-weight: 700;
	font-size: 24px;
}

.form .form-heading, .form .form-content, .form .form-content .form-element {
	width: 90%;
}

.form .form-heading, .form .form-content .form-input {
	border: none;
	height: 36px;
	padding: 3px 15px;
	margin-bottom: 16px;
	margin-top: 0;
	border-radius: 5px;
}
.form .form-content .form-input, .form .form-content .form-textarea {
    font-size: 16px;
}

.form .form-content {
    border: none;
    padding: 3px 15px;
    border-radius: 5px;
}

.form .form-content .form-textarea {
	border: none;
	height: 108px;
	padding: 3px 15px;
	margin-bottom: 16px;
	border-radius: 5px;
	padding-top: 10px;
}

.form .form-content .form-extra-links {
	width: 100%;
	margin-top: 25px;
}

.form-button-primary, .nav-button-primary, .nav-button-secondary, .form-button-secondary {
	background-color: #FF0000;
	border: none;
	color: white;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 8px;
}

.form-button-secondary, .nav-button-secondary {
	background-color: #000;
	border: 1px solid #FF0000;
	margin-left: 15px;
}

.navbar {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 999;
}

.container-fluid {
	width: 100%;
	float: left;
	padding-top: 10px;
	background-color: #000;
	opacity: 0.8;
}

.container-fluid * {
	float: left;
}

.navbar-nav {
	list-style: none;
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}

.navbar-nav li a {
	display: inline-block;
	padding: 15px;
	color: #fff;
}

.room-card a {
	display: inline-block;
	padding: 10%;
	width: 80%;
	color: #fff;
}

.navbar-header a {
	display: inline-block;
	padding: 15px;
	font-weight: 700;
	font-size: 22px;
}

.container {
    float: left;
    width: 84%;
    margin: 10% 8%;
    min-width: 800px;
}

.rooms {
	float: left;
	width: 100%;
}

.room-card {
    width: 18%;
    min-height: 200px;
    margin: 1%;
    background-color: black;
    float: left;
}

.room-card:hover {
	box-shadow: 0 0 32px rgba(255, 0, 0, 0.4);
}

.form-login, .form-register, .form-new-room {
    position: absolute;
    left: 50%;
    top: 120px;
	margin-left: -175px;
}
.float-right {
	float: right;
}
.media {
	position: relative;
	margin: 1%;
	width: 98%;
	background: #000;
	opacity: 0.8;
	float: left;
}
.room-replies {
	width: 100%;
}
.media-left {
	width: 12%;
	padding: 2%;
	border-right: 1px solid #101010;
	float: left;
}
.media-heading {
	width: 100%;
	float: left;
    line-height: 3;
    background: #101010;
}
.media-body {
	width: 80%;
    padding-left: 3%;
	float: left;
	border-left: 1px solid #101010;
    margin-left: -1px;
}
.media-object {
	width: 120px;
	float: left;
}
.user-name {
    text-align: center;
    width: 100%;
    margin-top: 15px;
	float: left;
}
.post-reply {
	margin-left: 52px;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 93%;
	float: left;
}
.form-room-reply {
	max-width: 100%;
    padding-left: 10px;
}

.form-room-reply  textarea{
	height: 150px;
	width: 100%;
}
.posting-as {
	margin-bottom: 20px;
}
.highlight {
	color: #FF7777;
}
.error-para {
	margin-left: 40px;
	width: 100%;
}
.reply-media {
	margin-bottom: 32px;
}
.media-date {
	float: left;
	width: 100%;
	color: #505050;
    font-size: 12px;
    margin-top: 14px;
    margin-bottom: 10px;
}
.title {
    margin-left: 30px;
}
.navbar .nav-button-primary {
    margin-left: 15px;
}
.form-error {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.media-react {
	width: auto;
	float: left;
	margin: 15px 0;
	position: absolute;
    bottom: 0;
}
.react-icon {
	height: 16px;
	width: 16px;
	margin: 5px;
	float: left;
}
.react-count {
	float:left;
	margin-top: 3px;
	color: #505050;
}
.dislike, .disliked {
    margin-top: 12px;
}
.page-nav {
	padding: 10px;
	background: #000;
	border: 1px solid #ff0000;
	color: #fff;
	float: left;
}
.page-nav-div {
	width: 98%;
	margin: 5% 1%;
	float: left;
}
.like {
    background: url('/resources/img/reactions.png') 16px -16px;
}
.liked {
    background: url('/resources/img/reactions.png') 16px 16px;
}
.dislike {
    background: url('/resources/img/reactions.png') 0 0 ;
}
.disliked {
    background: url('/resources/img/reactions.png') 0px -16px;
 }
.react-icon-login-true.like:hover {
    background: url('/resources/img/reactions.png') 0px 16px;
}
.react-icon-login-true.dislike:hover {
    background: url('/resources/img/reactions.png') 16px 0px;
}
.profile-picture {
    width: 210px;
    max-height: 550px;
    margin: 20px;
    float: left;
}
.profile-picture-img {
    max-width: 210px;
    max-height: 530px;
}
.profile-details-basic {
    background: #000;
    width: 600px;
    margin-left: 104px;
    margin-top: 20px;
    float: left;
}
.profile-my-posts {
    width: 900px;
    margin-left: 104px;
    margin-top: 20px;
    float: left;
}
.profile-details-basic-update {
    width: 600px;
    margin-left: 104px;
    margin-top: 20px;
    float: left;
}
.profile-detail-type {
    width: 170px;
    float: left;
}
.profile-detail-value {
    width: 370px;
    float: left;
}
.profile-detail {
    padding: 15px 15px 0 15px;
    height: 24px;
}
.profile-detail:last-child {
    padding-bottom: 15px;
}
.profile-details-title {
    width: 800px;
    float: left;
    font-size: 24px;
    margin-left: 104px;
    margin-top: 20px;
}
.left-nav {
    margin-left: 52px;
    margin-top: 20px;
    float: left;
    width: 250px;
    background: #000;
}
.left-nav-menu {
    float: left;
    width: 230px;
}
.left-nav-menu a {
    width: 230px;
    color: #fff;
    padding: 15px 15px 0 15px;
    float: left;
    font-size: 18px;
}
.left-nav-menu:last-child a {
    padding-bottom: 15px;
}
.left-nav-menu a:hover {
    color: #c0c0c0;
}
.edit-profile-button {
    float: left;
    width: 600px;
    margin-left: 104px;
    margin-top: 20px;
}
.hide {
    display:none;
}
#dpInput::-webkit-file-upload-button {
  visibility: hidden;
}
#dpInput::before {
  content: 'Select Display Picture';
  display: inline-block;
  background: #ff0000;
  padding: 15px 18px;
  margin-bottom: 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 16px;
}
#dpInput:hover::before {
  border-color: black;
}
#dpInput:active::before {
  background: #ff0000;
}
#preview {
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    left: 900px;
    top: 400px;
}
.follow-button {
    margin: 10px 0;
    width: 100%;
}
.unfollow-button {
    margin: 9px 0;
    width: 100%;
}
.follow-dp {
	max-width: 64px;
	max-height: 64px;
	float: left;
	margin-right: 10px;
	padding: 10px;
}
.follow-username {
	margin-top: 30px;
	float: left;
	margin-right: 30px;
}
.follow-link {
	color: white;
	float: left;
	width: 33%;
}
.follow-link:hover {
	color: #A0A0A0;
	float: left;
	display: inline-block;
}
.follow-content {
	width: 800px;
}
.secondary-text {
	color: #505050;
	font-size: 16px;
}
